<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>


        <div class="link-icon">
            <a href="https://facebook.com" class="item-link">
                <img src='../assets/img/social/facebook-grey.svg' alt="" class="item-link__icon"/>
            </a>
        </div>
     <div class="link-icon">
            <a href="https://youtube.com" class="item-link">
                <img src='../assets/img/social/youtube-grey.svg' alt="" class="item-link__icon"/>
            </a>
        </div>
        <div class="link-icon">
            <a href="https://www.instagram.com/oth_fishingforum/" class="item-link">
                <img src='../assets/img/social/instagram-grey.svg' alt="" class="item-link__icon"/>
            </a>
        </div>
    </div>

<style>
    body{
        background-color: #464646;
    }
    
    .item-link{
        background-color: #fff;
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        border-radius: 50%; 
    }

    

</style>
    </body>
</html>
